<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>cifrar</servlet-name>
        <servlet-class>cifrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Descifrar</servlet-name>
        <servlet-class>Descifrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Crearllaves</servlet-name>
        <servlet-class>Crearllaves</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>cifrar</servlet-name>
        <url-pattern>/cifrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Descifrar</servlet-name>
        <url-pattern>/Descifrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Crearllaves</servlet-name>
        <url-pattern>/Crearllaves</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
